.App {
  text-align: center;
  background-color: #222;
}

.App-header {
  vertical-align: middle;
  height: 200px;
  padding: 20px;
  color: white;
  width: 100%;
}
.App-footer {
  padding: 20px;
  color: white;
  width: 100%;
}
.App > * {
  float: left;
}

.App-title {
  font-family: 'Share Tech Mono', monospace;
  font-size: 80px;
  margin: 0;
  line-height: 200px;
}

.App-intro {
  font-size: large;
}

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
