.App {
  text-align: center;
}

.App-header {
  vertical-align: middle;
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}
.App-footer {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Share Tech Mono', monospace;
  font-size: 80px;
  margin: 0;
  line-height: 200px;
}

.App-intro {
  font-size: large;
}
