.Project {
  width: 100%;
  height: 300px;
  background-color: #AAA;
  cursor: pointer;
  transition: background-color 0.4s, height 1.2s;
  position: relative;
  color: #EEE;
  background-size: cover;
  background-position: center;
}

.Project:hover {
  background-color: #DDD;
}

.Project-toggled {
  height: 600px;
}

.Project-header {
  margin: 0;
  z-index: 1;
}

.Project-description {
  margin: 0;
  z-index: 1;
}

.Project-img {
  position: relative;
  width: 100%;
  height: auto;
}
