.Project {
  cursor: pointer;

  display: block;
  position: relative;
  float:left;

  color: #EEE;

  background-color: #AAA;
  background-size: cover;
  background-position: center;

  padding-top: 75px;
  height: 220px;
  width: 80%;
  transition: background-color 0.4s, height 0.8s;
}

.Project:hover {
  background-color: #DDD;
}

.Project-toggled {
  height: 600px;
}

.Project-header {
  font-family: 'Share Tech Mono', monospace;
  font-size: 45px;

  margin: 0;
}

.Project-date {
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 5px;
  color: #AAA;
}

.Project-description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  margin: 45px;
}
.Project-description-full {
  text-align: left;
  width: 60%;
  margin: 45px auto;
}
.Project-description-half {
  text-align: left;
  margin: 45px 5%;
  width: 40%;
  float: left;
}
.Project-contents {
  margin: 45px 5%;
  width: 40%;
  float: left;
}
.Project-screenshot {
  width: 100%;
}

.Project-size-full {
  width: 100%;
}
.Project-size-half {
  width: 50%;
}
.Project-size-third {
  width: 33.333%;
}
.Project-size-quater {
  width: 25%;
}
